
.reg-bg{
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('https://img.freepik.com/free-photo/office-supplies_23-2148103974.jpg?w=740&t=st=1723139917~exp=1723140517~hmac=503554eb28c185d470eade85e6bfe3d446b10eb6a4246211b9153fefe6830ab0');
}

.log-bg{
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('https://preview.redd.it/t7b5j2cqpce21.png?auto=webp&s=722e7dcb6a150fc6be3513ab186cc60db0a9ab27');
}

.auth-container{
    width: 100%;
    max-width: 1300px;
    height: 100vh;
    margin: 0 auto;
    padding: 0 16px;
}

.Auth-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.Auth-wrapper{
    width: 350px;
    display: flex;
    flex-direction: column;
    background: #3333338c;
    padding: 16px 20px;
    border-radius: 20px;
    h2{
        color: #000000;
    }
    input{
        width: 100%;
        padding: 8px 5px;
        border-radius: 10px;
        border: none;
        outline: none;
    }
    input:focus{
        outline: 2px solid #333;
    }
    p, a{
        font-size: 14px;
        text-decoration: none;
    }
    button {
        margin-top: 15px;
        background-color: white;
        color: #333;
        border-radius: 10px;
        padding: 0.5rem;
        border: none;
        cursor: pointer;
        transition: 0.7s ease-out;
    }
    button:hover{
        transition: 0.7s ease-out;
        color: #FFF;
        background: #000;
        transform: scale(0.9);
    }
}

.wrappper-bg{
    background: transparent(0, 0, 0, 0.7);
}